
.cls-1{
    fill:#3ebca4;
}
.cls-2{
    fill:#303547;
}
.cls-3{
    fill:#c1c4d2;
}
.background{
    opacity: 0.09 !important;
}


@media only screen and (max-width: 376px) and (min-width: 321px) {
    .background{
        position: relative;
    } 
}